.p-sidebar .p-sidebar-content {
  padding: 0rem !important;
}

.p-menu {
  width: auto !important;
}
.p-breadcrumb {
  border: none !important;
}

.p-panelmenu .p-panelmenu-header > a {
  border: none;
  background: none;
}
