<p-toolbar>
  <i class="pi pi-bars" (click)="sideBarDisplay = !sideBarDisplay"></i>
  <i class="pi pi-desktop"></i>
  <i class="pi pi-book"></i>
  <i class="pi pi-user"></i>
  <i class="pi pi-credit-card"></i>
  <i class="pi pi-server"></i>
  <i class="pi pi-bars"></i>
  <i class="pi pi-home"></i>
  <i class="pi pi-chart-bar"></i>
  <i class="pi pi-th-large"></i>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="searchValue"
      placeholder="請輸入會員編號/會員姓名/連絡電話"
    />
  </span>
  <i class="pi pi-bars"></i>
  <i class="pi pi-bell"></i>
  <p-dropdown
    [options]="cities"
    [(ngModel)]="selectedCity"
    optionLabel="name"
  ></p-dropdown>
  <p-dropdown
    [options]="cities"
    [(ngModel)]="selectedCity"
    optionLabel="name"
  ></p-dropdown>
</p-toolbar>
<p-sidebar [(visible)]="sideBarDisplay">
  <p-panelMenu [model]="sideBarItems"></p-panelMenu>
</p-sidebar>
<router-outlet></router-outlet>
